/* Container holding the image and the text */
#container {
  position: relative;
  text-align: center;
  color: white;
  background-image: linear-gradient(125deg, #051937, #45245b, #8f1e63, #ce224b, #ee5a0d, #ffe200, #ffc100, #ffa000, #f87e00, #ee5a0d);
  background-size: 400%;
}
#test {
  color: red;
}
#home-logo img {
  width: 150px;
  height: auto;
  transition: width 0.5s;
  margin: 20px;
}
#home-logo img:hover {
  width: 170px;
}

body {
  margin: 0;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}

.info-box {
  width: 50px;
  height: 50px;
  /* background-color: grey; */
  /* border-radius: 3px; */
  border: 1px solid white;
  transition: width 1s, height 1s, opacity 1s, background-color 1s;
  margin: 40px 0px;
  float: right;
}

.info-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.info-box:hover {
  /* background-color: red; */
  width: 70px;
  height: 70px;
}
.animation-gradient {
  animation: day-night 60s ease infinite;
}

@keyframes day-night {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}



/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  margin-right: 15px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#overlay, #easter-egg, #yellow, #blue, #red, #green, #pink, #orange {
  position: fixed; /* Sit on top of the page content */
  opacity: 0;
  display: hidden; /* Hidden by default
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition: opacity 1s, z-index 1s;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
